<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-menu-button></ion-menu-button> -->
      <ion-button (click)="onOpenMenu()">
        <ion-icon name="menu" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Descubrir lugares</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-segment (ionChange)="onFilterUpdate($event)">
    <ion-segment-button value="all" checked>Hoteles</ion-segment-button>
    <ion-segment-button value="bookable">Hoteles a reservar</ion-segment-button>
  </ion-segment>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ loadedPlaces[0].tittle }}</ion-card-title>
            <ion-card-subtitle> {{ loadedPlaces[0].price | currency }} / Night </ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="loadedPlaces[0].imgUrl"></ion-img>
          <ion-card-content>
            {{ loadedPlaces[0].description }}
          </ion-card-content>
          <div>
            <ion-button 
              fill="clear" 
              color="primary" 
              [routerLink]="['./', loadedPlaces[0].id ]"
            >
              Más
            </ion-button>
          </div>

        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-virtual-scroll [items]="listedLoadedPlaces" approxItemHeight="70px">
          <ion-item 
            *virtualItem="let place"
            [routerLink] = "[ './', place.id ]"
            detail  
          >
            <ion-thumbnail slot="start">
              <ion-img [src]="place.imgUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{ place.tittle }}</h2>
              <p>{{ place.description }}</p>
            </ion-label>
          </ion-item>
        </ion-virtual-scroll>        
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
