<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis ofertas</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['./', 'new']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
      
        <ion-list>
          <ion-item-sliding *ngFor="let offer of loadedOffers" #slidingItem> 
           <app-offer-item [offer]="offer"></app-offer-item>
            <ion-item-options side="start">
              <ion-item-option color="secondary" (click)="onEdit(offer.id, slidingItem)">
                <ion-icon name="create" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>  
        </ion-list>
      
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
