<ion-header>
  <ion-toolbar>
    <ion-title>{{ isLogin ? "Login" : "Sing up"}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner> -->
  <form #formUser="ngForm" (ngSubmit)="onSubmit(formUser)">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input 
                type="email" 
                ngModel 
                name="email" 
                required 
                email
                #emailCtrl="ngModel"
              >
              </ion-input>
            </ion-item>

            <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none">
                <ion-text color="danger">Debe ser un correo elecronico valido</ion-text>
            </ion-item>

            <ion-item>
              <ion-label position="floating">contaseña</ion-label>
              <ion-input 
                type="password" 
                ngModel 
                name="password" 
                required 
                minLength="6"
                #passwordCtrl="ngModel"
              >
              </ion-input>
            </ion-item>

            <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched" lines="none">
                <ion-text color="danger">Deben ser minimo 6 caracteres.</ion-text>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button 
            type="button" 
            color="primary" 
            fill="clear" 
            expand="block"
            (click)="onSiwtchAuthMode()"
          >
            Switch to {{ isLogin ? "Sing up" : "Login"}}
          </ion-button>

          <ion-button
            type="submit"
            color="primary"
            (click)="onLoging()"
            *ngIf="!isLoading"
            expand="block"
            [disabled]="!formUser.valid"
          >
            Login
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
