<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Tus reservaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row size-md="6" offset-md="3">
      <ion-col>
          <ion-list>
              <ion-item-sliding *ngFor="let booking of loadedBookings" #slidingBooking>
                  <ion-item>
                    <ion-label>
                      <h5>{{ booking.placeTitle }}</h5>
                      <p>Huespedes: {{ booking.guestNumber }}</p>
                    </ion-label>
                  </ion-item>
                  <ion-item-options>
                    <ion-item-option color="danger" (click)="onCancelBooking(booking.id, slidingBooking)">
                      <ion-icon name="trash" slot="icon-only"></ion-icon>
                    </ion-item-option>
                  </ion-item-options>
              </ion-item-sliding>
            </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
