<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>Nueva Oferta</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCreateOffer()" [disabled]="!form.valid">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item>
            <ion-label position="floating">Title</ion-label>
            <ion-input
              type="text"
              autocomplete
              autocorrect
              formControlName="title"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item *ngIf="!form.get('title').valid && form.get('title').touched" lines="none">
            <ion-text color="danger">Campo requerido</ion-text>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item>
            <ion-label position="floating">Descripcion basica</ion-label>
            <ion-textarea rows="3" formControlName="description"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item *ngIf="!form.get('description').valid && form.get('description').touched" lines="none">
            <ion-text color="danger"
              >>La descripcion no puede ser mayor a 180 caracteres
            </ion-text>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item>
            <ion-label position="floating">Precio</ion-label>
            <ion-input type="number" formControlName="price"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="6" offset-md="3">
          <ion-item *ngIf="!form.get('price').valid && form.get('price').touched" lines="none">
            <ion-text color="danger">El precio no debe ser menor a 1</ion-text>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="3" offset-md="3">
          <ion-item>
            <ion-label position="floating">Disponible desde</ion-label>
            <ion-datetime
              displayFormat="MM/DD/YYYY"
              min="1994-03-14"
              max="2012-12-09"
              formControlName="dateFrom"
            ></ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col size-md="3">
          <ion-item>
            <ion-label position="floating">Disponible hasta</ion-label>
            <ion-datetime
              displayFormat="MM/DD/YYYY"
              min="1994-03-14"
              max="2012-12-09"
              formControlName="dateTo"
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="3" offset-md="3">
            <ion-item *ngIf="!form.get('dateFrom').valid && form.get('dateFrom').touched" lines="none">
            <ion-text color="danger">El precio no puede ser menor a 1</ion-text>
          </ion-item>
        </ion-col>

        <ion-col size-md="3">
            <ion-item *ngIf="!form.get('dateTo').valid && form.get('dateTo').touched" lines="none">
            <ion-text color="danger">El precio no puede ser 1</ion-text>
          </ion-item>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>
