<ion-header>
  <ion-toolbar>
    <ion-title>{{ selectedPlace.tittle }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content text-center padding>
  <form (ngSubmit)="onBookPlace()" #form="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Primer nombre</ion-label>
            <ion-input
              typw="text"
              ngModel
              name="first-name"
              required
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Apellidos</ion-label>
            <ion-input
              typw="text"
              ngModel
              name="last-name"
              required
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Numero de invitados</ion-label>
            <ion-select [ngModel]="'2'" name="guest-number">
              <ion-select-option value="1">uno</ion-select-option>
              <ion-select-option value="2">dos</ion-select-option>
              <ion-select-option value="3">Tres</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Desde</ion-label>
            <ion-datetime
              display-format="MMM DD YYYY"
              picker-format="YY MMM DD"
              [min]="selectedPlace.availableFrom.toISOString()"
              [max]="selectedPlace.availableTo.toISOString()"
              [ngModel]="startDate"
              name="date-from"
              required
              #startDateCtrl="ngModel"
            ></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size-sm="3">
          <ion-item>
            <ion-label position="floating">Hasta</ion-label>
            <ion-datetime
              display-format="MMM DD YYYY"
              picker-format="YY MMM DD"
              [min]="startDateCtrl.value"
              [max]="selectedPlace.availableTo.toISOString()"
              [ngModel]="endDate"
              name="date-to"
              required
            ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button
            type="submit"
            color="primary"
            expand="block"
            [disabled]="!form.valid || datesValid()"
          >
            Reservar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
